
<div class="app">
    <div class="bg"></div>
    <!-- login form -->
    <!-- <div>login</div> -->
    <form >
        <div class="inputs">         
            <input type="username" name="username" placeholder="username">
            <input type="phone" name="phone" placeholder="phone number">
            <input type="password" name="password" placeholder="password">
            <p class="light"><a href="">Login</a></p>
        </div>
        <button type="submit">Continue</button>
    </form>
</div>