<nav>
    <div class="nav-item">
        <a routerLink="">Welcome</a>
    </div>
    <div class="nav_item">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <!-- <li><button (click)="login()" *ngIf="!isLoggedIn()">Microsoft Login</button></li> -->
            <!-- <li><button (click)="logout()" *ngIf="isLoggedIn()">LOG OUT</button></li> -->

        </ul>
    </div>
</nav>
<div>
    <p>You have logged in</p><br>
    <iframe frameborder="0" class="frame" width="50%" height="400" src="http://localhost:4200">
    </iframe>
    
</div>
