<nav>
  <div class="nav-item">
      <a routerLink="">Home  </a> <span>>></span> <a routerLink="studentdetail">  Student Profile </a>
  </div>
  
</nav>
<div id = "master_container">
    <div id = "section-2"class ="sections">
      <p> {{studentName}}</p>
      <div>Mark List </div> 
      <div class = "properties"><span>Id:</span> {{studentId}}</div> 
      <div class = "properties"><span>Class:</span> {{studentClass}}</div> 
      <div class = "properties"><span>Maths:</span> {{mathsGrade}}</div> 
      <div class = "properties"><span>science:</span> {{scienceGrade}}</div> 
      <div class = "properties"><span>social:</span> {{socialGrade}}</div> 
      <div class = "properties"><span>Total Marks:</span> {{studenttotalMarks}}</div> 
    </div>
  </div>
